.recipe {
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

.recipeTitle {
  margin-top: 0;
}

.recipe img {
  width: 30rem;
  border-radius: 4px;
}

.itemLink {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
