.headerElement {
  background: linear-gradient(
    90deg,
    rgb(255, 215, 106) 0%,
    rgb(242, 169, 0) 100%
  );
  box-shadow: 0px 0px 5px grey;
  padding: 5px 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
